*{
    margin: 0;
    padding: 0;
}
:root{
    --fontColor:rgba(9, 9, 108, 0.776)

}
body{
    box-sizing: border-box;


}
nav{
    height:59px ;
    width:1193px ;
    display: flex;
    gap: 35px;
    justify-content: flex-end;
    padding: 20px;



}
nav a{
    text-decoration: none;
    color: rgba(102, 102, 102, 1);
font-size: 29px;
}
main{
    display: flex;
     width: 1204px;
    height: 550px;
    margin-top: 50px;
}
.profileimg{
    width:400px ;
    height: 400px;
    padding-top: 45px;
    padding-left: 150px;
}
.profileimg img{
    border: 3px solid rgb(7, 7, 159);
    border-radius: 50%;
    width: 400px;
    height: 400px;
}
.data{
    width: 680px;
    height: 297px;
    padding: 100px 100px;
}
.data p{
    font-size: 30px;
    color: var(--fontColor);
}
section{
    margin-top: 1rem;
}

.heading h3{
color: var(--fontColor);
font-size: 40px;
text-align: center;
}
.heading p{
    text-align: center;
    font-size: 30px;
    color: rgb(65, 63, 63);
    margin-top: 1rem;
    font-weight: 100;
}
.tech{
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 4.5rem;
}
.html{
    width: 113px;
    height: 101px;
}
.css{
    width: 90px;
    height: 101px;
}
.vscode{
    width: 101px;
    height: 101px;
}
.git{
    width: 101px;
    height: 101px;
}
.projecthead h3{
color: var(--fontColor);
font-size: 40px;
text-align: center;
}
.projecthead p{
    text-align: center;
    font-size: 30px;
    color: rgb(65, 63, 63);
    margin-top: 1rem;
    font-weight: 100;
}
.projectcard{
    display: flex;
    gap: 60px;
    justify-content: center;
}

.description {
    text-align: justify;
    padding: 20px 0px; 
}
.card{
   width: 22rem;
}

.about h3{
    color: var(--fontColor);
font-size: 40px;
text-align: center;
margin-left: 6rem;
}
.about p{
    text-align: center;
    text-align: justify;
    font-size: 20px;
    color: rgb(65, 63, 63);
    margin-top: 1rem;
    font-weight: 100;
    margin-right: 6rem;
    margin-left: 6rem;
    
}
.education h3{
    color: var(--fontColor);
font-size: 30px;
text-align: left;
margin-left: 6rem;
}
.degree , .diploma , .twelev{
    width: 704px;
    height: 75px;
}
.degree h6,p{
text-align: left;
margin-left: 6rem;
}
.degree h6{
    font-size: 25px;
}
.degree p{
    color: rgb(157, 150, 150);
    margin-left: 8.6rem;
   
}
.contact h3{
    text-align: center;
    font-size: 30px;
}
.contact h1{
    text-align: center;
    font-size: 40px;
}
.contact h2{
    color: var(--fontColor);
font-size: 40px;
text-align: center;
 
}
.logo{
    text-align: center;
margin-top: 1rem;

}
.logo a{
padding: 5px;
    font-size: 30px;

}